<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <style>
        *{
            -mozbox-sizing:border-box;
        }
        header,footer{
            height:100px;
            border:2px solid blue;
        }
        section{
            height:100px;
            border:2px solid blue;
            flex:1;
        }
        main,.bottom{
            display:flex;
        }
    </style>
</head>
<body>
    <header></header>
    <main>
        <section></section>
        <section></section>
        <section></section>
    </main>
    <section class="bottom">
        <section></section>
        <section></section>
    </section>
    <footer></footer>
</body>
</html>