<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
      <div class="container">
        <div class="box"id="one">box-1</div>
        <div class="box"id="two">box-2</div>
        <div class="box"id="three">box-3</div>
        <div class="box"id="four">box-4</div>
        <div class="box"id="five">box-5</div>
        <div class="box"id="six">box-6</div>
        <div class="box"id="seven">box-7</div>
        <div class="box"id="eight">box-8</div>
        <div class="box"id="nine">box-9</div>
        <div class="box"id="ten">box-10</div>
        <div class="box"id="eleven">box-11</div>
        <div class="box"id="twelve">box-12</div>
      </div> 
</body>
</html>

