<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="your description goes here">
    <meta name="keywords" content="one,two,three">
    <title>blank template</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>


</head>
 <body>
    <header></header>
    <section></section>
    <section></section>
    <section></section>
    <section class="bottom"></section>
    <section class="bottom"> </section>
    <footer> </footer>
</body>
</html> 