.box{
    width: 200px;
    height: 200px;
    background-color: teal;
    margin: 100px auto;
    transition-duration:1s;
    transition-delay:0.1s ;
    transition-property:background-color,border-radius,transform;
    transition-timing-function: linear;
}
.box:hover{
    background-color:red;
    border-radius: 50%;
    transform: rotate(50deg);
}
.list{
    display:flex;
    gap:20px;
    list-style:none;
}
.item{
    font-size: 2rem;
    padding: 5px 10px;
    transition:0.5s ease-in;
}
.item:hover{
    cursor:pointer;
    background-color: red;
    color: green;
    transform:translateY(-10px);
}