<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="normalize.css"/>
    <link rel="stylesheet"  href="style.css"/>
    <title>blank</title>
</head>
<body>
    <nav>
        <img src="#"alt="techcrunch logo">
        <a href ="#">login</a>
        <ul>
            <li><a href="#">search</a></li>
            <li><a href="#">startups</a></li>
            <li><a href="#">videos</a></li>
            <li><a href="#">video</a></li>
            <li><a href="#">newsletters</a></li>
            <li><a href="#">extra crunch</a></li>
            <li><a href="#"> the tc list</a></li>
            <li><a href="#">events</a></li>
            <li><a href="#">more</a></li>
        </ul>
    </nav>
    <main>
        <h1>
            what China fintech market can teach the world
        </h1>
        <p>
            lorem ipsum
        </p>
        <span> 
            somebody's name
        </span>
    </main>
     <aside>
         <ul>
            <li>
                <h2>lorem ipsum</h2>
                <span>somebody's name  </span>
            </li> 
            <li>
                <h2>lorem ipsum</h2>
                <span>somebody's name  </span>
            </li>
            <li>
                <h2>lorem ipsum</h2>
                <span>somebody's name  </span>
            </li> <li>
                <h2>lorem ipsum</h2>
                <span>somebody's name  </span>
            </li>
        </ul>
    </aside>
</body>
</html>