<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="normalize.css"/>
    <link rel="stylesheet"  href="style.css"/>
     <title>Document</title>
</head>
<body>
    <header>
        <nav>
        <a href="#">courses</a>
        <form action="">
            <input type=" text">
        </form>
        <h2>hindu classes</h2>
        <ul>
            <li><a href="#">donate</a></li>

        </ul>
    </nav>
    </header>
    <main>
        <section>
            <h1>
              for every student, every classroom.real result!
            </h1>
            <p>lorem ipsum</p>
            <a href="#">learners</a>
            <a href="#">learners</a>
            <a href="#">learners</a>
            <a href="#">learners</a>

        </section>
    </main>    
</body>
</html>