*{
    box-sizing: border-box;
}
header nav > *{
    float:left;
    width:10%;
    margin:0 5px;
}
header nav > *{
    float:left;
    width:10%;
    margin:0 5%;
    list-style:none;
}
header nav li{
    float:left;
    width:33%;
}
main > section{
    width:50%;
    height: 600px;
    float:left;

}