#rugratsWildThornberryBestCrossOverAllTime > .extraExtraReadAllAboutIt > h3{
    color:blue;
}
#changedIt >h2{
    color:red;

}
html > head + body > header.top + section#rugratsWildThornberryBestCrossOverAllTime > h2{
    color:orange!important;
}
html > head + body > header.top + section#rugratsWildThornberryBestCrossOverAllTime + section#changedIt > h2 + p.passTheRemote {
    color:yellow !important;
}