body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
.primary:link{
    color :green;
    padding:10px;
}
.primary:visited{
    color:blue;
}
.primary:hover{
    color:red;
    background-color: black;
}
.primary:active{
    color:black;
    background-color: white;
    border:5px solid yellow;
}
ul li:nth-child(2n){
    background-color: gray;
}
h1::first-letter{
    font-size: 2em;
}
p::first-line{
    background-color:violet;
}
::selection{
    color:green;
    background-color:orange;
}
h2::before{
    content:'first';
}
h2::after{
    content:'last';
}