<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
       <div class="left-text">
           <h2 class="heading">my portfolio</h2>
        </div>
        <div class="gallery" id="ajay">
            <!-- <div class="box" style="background-image:url(https://media.istockphoto.com/id/1414798334/photo/idyllic-landscape-in-the-alps-with-mountain-chalet-and-cows-in-springtime.jpg?s=612x612&w=is&k=20&c=wIkJrxAemD-G8lrQt3PcjM1vhXrtsrV6_juZboDkAjU=);">mountains</div>
            <div class="box" style="background-image:url(https://media.istockphoto.com/id/471117365/photo/satoddi-waterfall.jpg?s=612x612&w=is&k=20&c=CqfYpQN0oZ8RWBuMJqzFVrfKI2hhzRr53aK2Y570y9w=)">waterfalls </div>
            <div class="box" style="background-image:url(https://media.istockphoto.com/id/168363968/photo/motorbikers-on-cloudy-day-plateau-mora-india.jpg?s=612x612&w=is&k=20&c=EgWI0APNgl61MFKIhbYdf6_QdTzosywKjkCqf-wBTPc=)" >plateau </div>
            <div class="box" style="background-image:url(https://images.unsplash.com/photo-1509316785289-025f5b846b35?q=80&w=876&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">desert</div>
            <div class="box" style="background-image:url(https://images.unsplash.com/photo-1439405326854-014607f694d7?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">ocean</div>
            <div class="box" style="background-image:url(https://images.unsplash.com/photo-1519852476561-ec618b0183ba?q=80&w=856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">river</div>
            <div class="box" style="background-image:url(https://images.unsplash.com/photo-1580223530509-849e0ad583ca?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">beach</div>
            <div class="box" style="background-image:url(https://images.unsplash.com/photo-1428592953211-077101b2021b?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">rain</div> -->
        </div>
    </div>
</body>
</html>
